@import url(//db.onlinewebfonts.com/c/8bae8ac7ec8f35d5eff04dd7d4b528b0?family=Sharp+Sans+No1+Extrabold);
:root{
    --primary:#FF0460;
    --secondary:#FFCE00;
    --pop:#2d37ed;

}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: "SharpSansNo1-Extrabold", sans-serif;
}

main{
  overflow-x: hidden;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.marketing-hero{
    height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(102.76deg, var(--primary) 30.7%, var(--secondary) 100%);
    color: white;
    font-size: 32px;
    font-weight: 600px;
}

.marketing-hero p{
    text-align: center;
    max-width: 1080px;
    margin-top: 1rem;
    font-size: 1rem;
}


.marketing-hero h1{
    height: auto;
    text-align: center;
    font-size: 72px;
    margin-bottom: 32px;
    line-height: 1.17;
    margin: 0;
    font-family: "SharpSansNo1-Extrabold", sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 400px) {
.marketing-hero h1{
font-size: 2.5rem;
}

}














