/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap'); */
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
  font-display: swap;

}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(102.76deg, var(--primary) 30.7%, var(--secondary) 100%);

}

main {
  background: radial-gradient(circle, var(--secondary) 0%, var(--primary) 100%);
}



/* tags */

.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter-container button {
  display: inline-block;
  padding: .75rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: black;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 550;
}

.filter-container button.active {
  background-color: var(--primary);
}


.ourwork-hero {
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourwork-hero_container {
  background-color: white;
  height: 35dvh;
  display: flex;
  ;
  background: transparent;
  text-align: center;
  margin-bottom: 5vh;


}

.our-work-hero_text h1 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 800;
  margin-top: 20%;
  line-height: 1.17;
  color: whtie;
  max-width: 800px;

}

@media only screen and (max-width: 500px) {
  .our-work-hero_text h1 {
    font-size: 2.5rem;
  }

  .ourwork-hero_container {
    margin-bottom: 0;
  }

  .sub-sub-text {
    margin-top: 5%;
  }

}


.our-work-hero_subtext {
  color: white;
  font-family: 'Poppins', sans-serif;
  max-width: 800px;
}

.sub-sub-text {
  line-height: 1.5rem;
}


/* grid container  */

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1480px;
  margin: 0 auto;
  padding: 20px;
}

.grid-item {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  transition: .5s;
}



.grid-item:hover:after {
  content: attr(data-hover-text);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 300px;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.415);
  border-radius: 5px;
  display: inline-block;

}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}


/* Responsive adjustments */
@media screen and (max-width: 1480px) {
  .grid-container {
    justify-content: center;
  }

  .grid-item {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    justify-content: center;
  }

  .grid-item {
    flex-basis: calc(100% - 20px);

  }

}



