@import url(//db.onlinewebfonts.com/c/8bae8ac7ec8f35d5eff04dd7d4b528b0?family=Sharp+Sans+No1+Extrabold);
:root{
    --primary:#FF0460;
    --secondary:#FFCE00;
    --primary-color: #2d2c62;
    --primary-light-color: #96ADC8;
    --secondary-color: #fa676d;
    --alice-blue: #e3f0ff;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: "SharpSansNo1-Extrabold", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}


  /* hompage hero  */


  .bg_img {
    padding: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
    width: 175px;
  }
  
  .color, .hover:active{
    background-color: var(--primary);
    color: var(--secondary);
    border-color: transparent;
  }
  
  .hover:hover{
    background-color: var(--primary);
    color: var(--secondary);
  
  }

.home-hero{
    background: linear-gradient(102.76deg, #FF0460 30.7%, #FFCE00 100%);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    justify-content: center;
}

.home-hero_container{
    width: 100%;
    height: calc(100vh - 96px);
    max-width: 1440px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 40% !important;
}

.home-hero_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
}
.home-hero_text h1{
    color: #FFFFFF;
    font-size: 2.5rem;
    width: 100%;
    max-width: 700px;
    font-weight: 800;
}

.home-hero__button {
    padding: 20px 48px;
    margin-top: 64px;
}

.button-link {
    display: inline-block;
    text-transform: uppercase;
    padding: 17px 32px;
    background: #2D37ED;
    color: white;
    font-family: "SharpSansNo1-Extrabold", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 0px 8px 20px rgba(45, 55, 237, 0.2);
    transition: 0.25s background-color;
    line-height: 1;
}

.fact-section{
    background: #121212;
    padding: 80px 100px;
    display: block;
}

.fact-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 25px;
    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
    padding: 20px 0;
    justify-items: center;
}

.fact-header{
    grid-column: 1/-1;
    width: 100%;
    font-family: "SharpSansNo1-Extrabold", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #FF0460;
    z-index: 1;
}

.fact-item{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: #FFFFFF;
    text-align: center;
    line-height: 1.5;
    min-height: 189px;
    width: 100%;
    filter: drop-shadow(0px 8px 20px rgba(255, 4, 96, 0.15));
    position: relative;
    padding-left: 8px;
    box-sizing: border-box;
}

.fact-title{
    font-family: "SharpSansNo1-Extrabold", sans-serif;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.6px;
    color: #FF0460;
    padding: 32px;
    text-align: center;
    text-transform: none;
    font-weight: 750;
}