@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');


#canvas{
    width: 500px;
  }
  .TOS-hero{
    height: 75vH;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(102.76deg, var(--primary) 30.7%, var(--secondary) 100%);
    color: white;
    font-size: 32px;
    font-weight: 600px;
  }
  
  .TOS-hero p{
    text-align: center;
    max-width: 1080px;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }
  
  
  .TOS-hero h2{
    text-align: center;
    font-weight: 400;
    line-height: 1.17;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  
  }
  
  .TOS-hero h1{
    height: auto;
    text-align: center;
    font-size: 72px;
    margin-bottom: 32px;
    line-height: 1.17;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 500px) {
  .TOS-hero h1{
  font-size: 2.5rem;
  }
  .TOS-hero h2{
    font-size: 1rem;
  }
  
  }

  .TOS-list {
    padding: 10%;
    color: black;
    font-size: 32px;
    line-height: 1.2;
    position: relative;
    background-color: white;
    word-wrap: break-word;
  }  

  .TOS-list h1 {
    color: var(--secondary);
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 700;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .TOS-list h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
  }
  
  .TOS-list p {
    color: black;
    line-height: 1.2;
    font-size: 24px;
    padding-bottom: 2%;
  }
  
  .TOS-list ul, .TOS-list ol {
    line-height: 1.2;
    font-size: 24px;
    padding-left: 5%;
  }
  
  .TOS-list ul {
    list-style-type: disc;
    color: var(--secondary);
  }
  
  .TOS-list ol {
    list-style-type: decimal;
    color: var(--secondary);
  }
  
  
  .TOS-list li {
    color: black;
    line-height: 1.2;
    font-size: 24px;
  }

  @media only screen and (max-width: 768px) {
    .TOS-list {
      font-size: 20px;
    }
  
    .TOS-list h1 {
      font-size: 18px;
    }
  
    .TOS-list h2 {
      font-size: 16px;
    }
  
    .TOS-list p {
      font-size: 16px;
    }
  
    .TOS-list ul,
    .TOS-list ol {
      font-size: 16px;
    }
  
    .TOS-list li {
      font-size: 16px;
    }
  }